
body{
  background-color: #fafafa;
}

html{
  font: 100%;
}

.mainWrap{
padding: 6em;
width: 40%;
margin: auto;

}

/* LOGO */

img{
  margin: 0 12em;
  width: 100px;
  height: 100px;
}

/* USER LOGIN MODAL */
.signin{
  display: block;
  letter-spacing: 1.5px;
  margin: 5em 12.7em;
  width: 200px;
  height:25px;
  text-align: center;
  background-color: #D5D5D5;
  color: white;
  border: none;
  outline-style: none;
}

.login-container.showing{
  display: block;
}

.login-container{
  margin: 0 7em;
  width: 16em;
  display: none;
  border: solid 1px #D5D5D5;
}

  .siteName{
  font-family: Source Sans Pro;
  color: white;
  letter-spacing: 10px;
  text-align: center;
  font-size: 50px;
  padding-bottom: 22px 0 22px 0;
  margin-bottom: 22px;
  border-bottom: solid 1px #D5D5D5;
  background: #D5D5D5;
}

#username-login{
  letter-spacing: 1.5px;
  display: block;
  text-align: center;
  margin: 0 5.4em;
}

#password-login{
  visibility: visible;
  letter-spacing: 1.5px;
  display: block;
  text-align: center;
  margin: 0 5.4em;
}

.confirm{
  display: none;
}

.confirm.showing{
  display: block;
  letter-spacing: 1.5px;
  margin-top: 2.5em;
  width: 23.3em;
  height:25px;
  text-align: center;
  background-color: #D5D5D5;
  color: white;
  border: none;
  outline-style: none;
}


/*Rhonda's Nested Accordion Components*/

.savedBookmarkAccordion{
  display: none;
}

.bookmark-area{
  margin: 4em 0em 0em 3em;
}



.accordion-panel{
  display: none;
}


.fa.fa-arrow-right{
  font-style: normal;
  font-size: 0.5em;
  font-weight: normal;
	font-variant: inherit;
  /*line-height: 0.5;*/
  padding-right: 10px;
  /*transition-delay:  1s;*/
  cursor: pointer;
}

.Bookmark-choices{
  margin: 0 0 0.3em;
	padding: 1em 0 0.5em;
  color: black;
	border-bottom: 1px solid #ddd;
	font-size: 1em;
	font-weight: 300;
  font-style: normal;
  cursor: pointer;
}

h3:hover>i{
  transform: rotateZ(45deg);
  color: #569ed2;
}


.hide-right-arrow{
    display: none;
  }


.hide-down-arrow{
    display: none;
  }

.show-down-arrow{/**  JS class **/
    display:inline;
  }

/* Add Bookmark Modal */

#addBookmarkModal{
  visibility: hidden
}

#addBookmarkModal.showing{
  visibility: visible;
  width: 400px;
  height: 400px;
  border: solid 1px #D5D5D5;
}


#usernameLogin{
  visibility: visible;
  letter-spacing: 1.5px;
  display: block;
  text-align: center;
  margin: 0 20px 0 30px;
}


#passwordLogin{
  visibility: visible;
  letter-spacing: 1.5px;
  display: block;
  text-align: center;
  margin: 0 20px 0 30px;
}
